<div class="page-wrapper">
    <div class="page-content">
        <!-- Ajouter exemplaire -->
        <mat-card class="action-card" [routerLink]="'/exemplaire/modification'">
            <!-- todo ncm ajouter exemplaire/modification-->
            <mat-card-title class="action-card-title">
                Ajouter un nouvel exemplaire
            </mat-card-title>
            <mat-card-content>
            </mat-card-content>
        </mat-card>

        <!-- Modifier exemplaire -->
        <mat-card class="action-card" [routerLink]="'/exemplaire/modification'">
            <!-- todo ncm ajouter exemplaire/modification-->
            <mat-card-title class="action-card-title">
                Mettre à jour un exemplaire
            </mat-card-title>
            <mat-card-content>
                Mettre
            </mat-card-content>
        </mat-card>

        <!-- Supprimer exemplaire -->
<!--        <mat-card class="action-card" [routerLink]="'/exemplaire/modification'">-->
<!--            &lt;!&ndash; todo ncm ajouter exemplaire/modification&ndash;&gt;-->
<!--            <mat-card-title class="action-card-title">-->
<!--                Supprimer un exemplaire-->
<!--            </mat-card-title>-->
<!--            <mat-card-content>-->
<!--                Mettre-->
<!--            </mat-card-content>-->
<!--        </mat-card>-->
    </div>
</div>