<div class="page-wrapper">
    <div class="page-content">
        <mat-card class="start-card">
            <mat-card-header>
                <mat-card-title class="start-card-title">Tome Sweet Tome</mat-card-title>
            </mat-card-header>
            <mat-card-content class="start-card-content">
                <!-- FIX ME image todo ncm -->
                <img src="../../assets/images/library_cover.jpg" alt="Library cover image">
                <button mat-flat-button [routerLink]="['/home']">Se connecter</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
