<div class="page-wrapper">
    <div class="page-content">
        <mat-card class="action-card" [routerLink]="'/oeuvre/modify'">
            <!-- todo ncm ajouter oeuvre/modify-->
            <mat-card-title class="action-card-title">
                Ajouter une nouvelle oeuvre
            </mat-card-title>
            <mat-card-content>
            </mat-card-content>
        </mat-card>

        <mat-card class="action-card" [routerLink]="'/oeuvre/modify'">
            <!-- todo ncm ajouter oeuvre/modify-->
            <mat-card-title class="action-card-title">
                Mettre à jour une oeuvre
            </mat-card-title>
            <mat-card-content>
                Mettre
            </mat-card-content>
        </mat-card>
    </div>
</div>