<div class="page-wrapper">
    <div class="page-content">
        <mat-card class="action-card" [routerLink]="'/usager/modify'">
            <mat-card-title class="action-card-title">
                Créer un nouveau compte usager
            </mat-card-title>
            <mat-card-content>
            </mat-card-content>
        </mat-card>

        <mat-card class="action-card" [routerLink]="''">
            <mat-card-title class="action-card-title">
                Modifier un compte usager
            </mat-card-title>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>
</div>